body {
  font: 10px "cabin", sans-serif;
  /*background-color: #004551;*/
}

.container {
  /*background: white;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #12110f;
  shape-rendering: crispEdges;
}

.line {
  stroke-width: 1px;
  fill: none;
}

.line.nat {
  stroke: #9d4700;
}

.line.all {
  stroke: #004551;
}

.line:hover {
  cursor: pointer;
  stroke-width: 3px;
}

.legend {
  font-size: 12px;
}

rect {
  stroke-width: 2;
}

.extra-info {
  font-size: 15px;
}

.arthead {
  margin-top: 20px;
  width: 60%;
}

h3 {
  font-size: 14px;
  margin-top: 7px;
}
