$teal: #004551;
$maroon: #82260d;
$orange: #9d4700;
$cream: #ead9c9;
$black: #12110f;

body {
  font: 15px "cabin", sans-serif;
  /*background-color: #004551;*/
}

.container {
  /*background: white;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: $black;
  shape-rendering: crispEdges;
}


.line {
  stroke-width: 2px;
  fill: none;
}

.line:hover {
  cursor: pointer;
  stroke-width: 3.5px;
}

.legend {
  font-size: 12px;
}

rect {
  stroke-width: 2;
}

.extra-info {
  font-size: 15px;
}

.arthead {
  margin-top: 20px;
  width: 60%;
}

h2 {
  margin-top: 7px;
}


.ncsu { stroke: #CC0000; }
.unc { stroke: #7BAFD4; }
.ecu { stroke: #592A8A; }
.ncat { stroke: #004684; }
.uncc { stroke: #00703C; }
.uncg { stroke: #003366; }
.app { stroke: #ffcc00; }
.fsu { stroke: #0067B1; }
.nccu { stroke: #8b2331; }
.uncp { stroke: #BFA656; }
.uncw { stroke: #006666; }
.wcu { stroke: #592C88; }
.wssu { stroke: #ED174F; }
.unca { stroke: #003C77; }
.ecsu { stroke: #0039A6; }
