body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

.line {
  stroke-width: 1.5px;
  fill: none;
}

.line.nat {
  stroke: red;
}

.line.all {
  stroke: steelblue;
}

.line:hover {
  cursor: pointer;
  stroke-width: 5px;
  /*fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;*/
}

.legend {
  font-size: 12px;
}

rect {
  stroke-width: 2;
}

.extra-info {
  font-size: 15px;
}
