body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

.line:hover {
  cursor: pointer;
  /*fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;*/
}

.legend {
  font-size: 12px;
}

rect {
  stroke-width: 2;
}
